<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <title>Portfolio - About Me</title>
</head>

<body class="bg-secondary">
    <div class="d-flex flex-column" id="pageContainer">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="home">Home</a>
                    <a class="nav-item nav-link" href="projects">Projects</a>
                    <a class="nav-item nav-link" href="contact">Contact</a>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column bg-light m-5" id="belowNavigation">
            <div class="d-flex flex-column bg-light rounded" id="">
                <h1 class="text-center py-3" id="pageHeader">About Me</h1>
                <div class="d-flex justify-content-around px-5" id="bodyBelowHeader">
                    <div class="d-flex flex-column col-4 align-self-center text-center" id="imgSideOfAboutMe">
                        <figure>
                            <img class="img-fluid rounded" src="/images/profile.jpg" alt="Image of Joshua Wren"
                                alt="Image of Joshua Wren">
                            <figcaption><b>Joshua Wren</b></figcaption>
                            <figcaption>Security Conscious Programmer and BJJ Extraordinaire!</figcaption>
                        </figure>

                    </div>
                    <div class="d-flex col-4 flex-column" id="detailSideOfAboutMe">
                        <p>Hello everyone! Welcome to my portfolio website!</p>
                        <p>My name is Joshua Wren. I am a father of four beautiful children and have been married
                            to my
                            patient wife for over eleven years. My professional background originated in aviation. I
                            joined
                            the U.S. Army in January of 2010. At my first duty station is where I made a close friend
                            who
                            inspired my interest in computers and drove me to learn more about it (leaving him less time
                            with me pestering him questions about it lol). This is where I started researching hardware
                            before eventually learning more about networking, a bit about security, and whatever other
                            squirrel of technology I would chase as it crossed my path.</p>
                        <p>When in school for Cyber Operations - Security Engineering at The Univeristy of
                            Arizona,
                            I
                            got a
                            deeper passion to learn about programming. In 2020, we all felt the pains of entering a
                            pandemic
                            environment and I was laid off of my aviation job. I decided to add to my technical
                            cybersecurity education and joined a coding bootcamp. It is there where I picked up skills
                            in
                            full-stack web-development across three different stacks! The goal was to immediately push
                            my
                            career into the tech fields whilst completing my BASc at The Univeristy of Arizona. I
                            successfully accomplished that goal and currently work as a .NET Application Developer!</p>
                        <p>My hobbies outside of technology include:</p>
                        <ul>
                            <li>Board/Computer Games</li>
                            <li>Reading/Listening to Fantasy Books</li>
                            <li>Brazilian Jiu-Jitsu</li>
                            <li>Powerlifting</li>
                            <li>Dungeons & Dragons</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>