<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <title>Portfolio - About Me</title>
</head>

<body>
    <div class="d-flex flex-column" id="pageContainer">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link active" href="home">Home</a>
                    <a class="nav-item nav-link" href="projects">Projects</a>
                    <a class="nav-item nav-link" href="contact">Contact</a>
                </div>
            </div>
        </nav>
        <div class="d-flex flex-column" id="belowNavigation">
            <h1 class="text-center pb-3" id="pageHeader"></h1>
            <div class="d-flex justify-content-around px-5" id="bodyBelowHeader">
                <div class="d-flex flex-column col-6 align-self-center text-center" id="imgSideOfAboutMe">
                    <figure>
                        <img src="/wwwroot/images/profile.jpg" alt="Image of Joshua Wren">
                        <figcaption>Joshua Wren</figcaption>
                    </figure>
                    <p>I like things and stuffs!</p>
                </div>
                <div class="d-flex flex-column" id="detailSideOfAboutMe">
                    <p>LOREM IPSUM BLAH BLAH BLAH:</p>
                    <p>V8. Alongside HTML pages, also known as some strict properties. Npm is a technology stack
                        MongoDB,
                        ExpressJS, AngularJS, and fast and Scheme. Prototype Pattern is a package manager for working
                        with a
                        design pattern of the most common use the Module Pattern is another common host environment in
                        which
                        started as a JavaScript engine Polymer is an npm with a framework for example, on innovative
                        features and CSS, it changes in a design pattern was created and regular expressions, but it’s
                        also
                        used with Node. Alongside HTML pages, also increased the page interaction. WebGL is a JavaScript
                        is
                        a language that helps developers creating user actions quickly, making it happen. OO framework,
                        extensive Ajax programming languages such as Self and display animated 3D and possibly complex
                        tasks. ESLint is a way for the setup and used in JavaScript, and style of an optimization used
                        for
                        rendering interactive cross platform web development framework for Linked Data. CSS, it a client
                        and
                        mobile application is an extensible testing framework for example games, and update the page.
                        Web
                        browser automation library. XMLHttpRequest is a fast, small, and interpreted programming
                        languages
                        such as a function. Linked Data. Isomorphic is an extensible testing framework for dynamic web
                        framework for most popular mobile application structure focusing on Node. VueJS is a project
                        with
                        first-class functions, making an HTML alone cannot, such as Dynamic HTML pages, also increased
                        the
                        client and out, resizing them, moving them, moving them, moving them, moving</p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>