<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <title>Portfolio - Contact</title>
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="home">Home</a>
                <a class="nav-item nav-link" href="projects">Projects</a>
                <a class="nav-item nav-link active" href="contact">Contact</a>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column bg-light m-5" id="belowNavigation">
        <h1 class="text-center py-3" id="pageHeader">Contact Me</h1>
        <div class="d-flex flex-row justify-content-center" id="bodyBelowHeader">
            <div class="pb-5" id="contactFormContainer">
                <form class="d-flex flex-column" action="/Contact">
                    <div class="d-flex flex-row justify-content-around">
                        <div class="form-group col-5" id="formContact">
                            <div class="form-group row">
                                <label class="col-form-label" for="name">Name</label>
                                <input class="form-control" type="text" id="name">
                            </div>

                            <div class="form-group row">
                                <label class="col-form-label" for="email">Email</label>
                                <input class="form-control" type="email" id="email">
                            </div>
                        </div>
                        <div class="form-group col-5">
                            <label class="col-form-label" for="message">Message</label>
                            <textarea class="form-control" id="message" name="message" rows="4" cols="50"></textarea>
                        </div>
                    </div>
                    <div class="d-flex justify-content-around mt-2">
                        <div class="col-5"></div>
                        <div class="col-5 d-flex justify-content-end">
                            <button type="submit" class="btn btn-rounded btn-outline-info">Send</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>