<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>
    <title>Portfolio - Projects</title>
</head>

<body class="bg-secondary">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="home">Home</a>
                <a class="nav-item nav-link active" href="projects">Projects</a>
                <a class="nav-item nav-link" href="contact">Contact</a>
            </div>
        </div>
    </nav>
    <div class="d-flex flex-column bg-light m-5" id="belowNavigation">
        <h1 class="text-center py-3" id="pageHeader">Welcome to My Projects</h1>
        <div class="d-flex flex-row justify-content-center" id="bodyBelowHeader">
            <div class="col-12 p-3" id="projectsContainer">
                <table class="table table-responsive table-hover table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Image</th>
                            <th scope="col">Project Name/Link</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><img src="" alt="no image at this time"></td>
                            <td><a href="https://GitHub.com/JJWren">Dummy Project</a></td>
                            <td>This links to my entire GitHub Profile for now until I actually update this with live
                                projects.</td>
                        </tr>
                        <tr>
                            <td><img src="" alt="no image at this time"></td>
                            <td><a href="https://GitHub.com/JJWren">Dummy Project</a></td>
                            <td>This links to my entire GitHub Profile for now until I actually update this with live
                                projects.</td>
                        </tr>
                        <tr>
                            <td><img src="" alt="no image at this time"></td>
                            <td><a href="https://GitHub.com/JJWren">Dummy Project</a></td>
                            <td>This links to my entire GitHub Profile for now until I actually update this with live
                                projects.</td>
                        </tr>
                        <tr>
                            <td><img src="" alt="no image at this time"></td>
                            <td><a href="https://GitHub.com/JJWren">Dummy Project</a></td>
                            <td>This links to my entire GitHub Profile for now until I actually update this with live
                                projects.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

</html>