<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portfolio - Projects</title>
</head>

<body>
    <div id="navigation">
        This is where the navigation bar will go to each page: { Home, Projects, Contact }
    </div>
    <div id="belowNavigation">
        <h1 id="pageHeader">About Me</h1>
        <div id="bodyBelowHeader">
            <div id="projectsContainer">
                <ul>
                    <li>Project 1</li>
                    <li>Project 2</li>
                    <li>Project 3</li>
                    <li>Project 4</li>
                    <li>To be continued...</li>
                </ul>
                <p>This will be updated at a later time.</p>
            </div>
        </div>
    </div>
</body>

</html>